@media only screen and (max-width: 767px) {
  body {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  .hidden2 {
    display: none;
  }
  article {
    align-items: center;
    border-radius: 20px;
    width: 100%;
    img {
      width: 100%;
      border-radius: 20px 20px 0 0;
    }
    h1 {
      font-size: 32px;
    }
    section {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 10px;
    }
    .price {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 15px;
      font-size: 30px;
      span {
        font-size: 10px;
        text-decoration: line-through;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      border: none;
      height: 40px;
      img {
        width: 15px;
      }
    }
  }
}
